/* reset css */
*{ 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

ol, ul {
    list-style: none;
}

/* 1 rem = 16px */

:root{
    --board-size: 40rem;
    --block-size: calc(var(--board-size)/8);

}

.chessboard {
  margin-left: 9rem;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: var(--board-size);
    height: var(--board-size);
    border: black solid 0.625rem;
    background: #333333;
    position: relative;
}

.chessboard__block {
    width: --block-size;
    aspect-ratio: 1;
    background: #F0D9B5;
    position: relative;
}

.chessboard__block.current-position {
    opacity: 0.5;
}

.chessboard__block.valid-move {
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.chessboard__block.valid-move::before {
  content: "";
  display: block;
  width: 1rem;
  height: 1rem;
  background: #4b1b4b;
  border: #f09400;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




.chessboard div:nth-child(-2n + 8),
.chessboard div:nth-child(8) ~ div:nth-child(-2n + 15),
.chessboard div:nth-child(16) ~ div:nth-child(-2n + 24),
.chessboard div:nth-child(24) ~ div:nth-child(-2n + 31),
.chessboard div:nth-child(32) ~ div:nth-child(-2n + 40),
.chessboard div:nth-child(40) ~ div:nth-child(-2n + 47),
.chessboard div:nth-child(48) ~ div:nth-child(-2n + 56),
.chessboard div:nth-child(56) ~ div:nth-child(-2n + 63) {
    background-color: #B58863;
}

.order-block-width {
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    right: calc(3rem/16);
    top: 0;
    color: black;
}

.order-block-width.odd {
    color: #B58863;
}

.order-block-width.even {
    color: #F0D9B5;
}

.order-block-height {
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    left: calc(3rem/16);
    bottom: 0;
    bottom: calc(3rem/16);
    color: black;
}

.order-block-height.odd {
    color: #B58863;
}

.order-block-height.even {
    color: #F0D9B5;
}


/* Responsive styles */
@media only screen and (max-width: 768px) {
    :root {
      --board-size: 20rem;
      --block-size: calc(var(--board-size)/8);
    }
    
    .chessboard {
      width: var(--board-size);
      height: var(--board-size);
      border-width: 0.3125rem;
    }
    
    .order-block-width, .order-block-height {
      font-size: 0.75rem;
    }
  }
  
  @media only screen and (max-width: 480px) {
    :root {
      --board-size: 16rem;
      --block-size: calc(var(--board-size)/8);
    }
    
    .chessboard {
      width: var(--board-size);
      height: var(--board-size);
      border-width: 0.25rem;
    }
    
    .order-block-width, .order-block-height {
      font-size: 0.625rem;
    }
  }