.history-move {
    height: var(--board-size);
    width: 23rem;
    background-color: #F0D9B5;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    border: black solid 0.625rem;
  }

  .history-move__time {
    padding: 0.5rem 7rem;
    font-family: Roboto;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: black;
}

.history-move__time.white-player {
    background: linear-gradient(to bottom right, #F0D9B5, #E6B87C);
    color: #333;
}

.history-move__time.black-player {
    background: linear-gradient(to bottom right, #E6B87C, #F0D9B5);
    color: #333;
  }

  .history-move__log-content {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    text-align: center; 
    color: #160e0c; 
    font-weight: 550; 
    list-style: disc; 
    margin-left: 20px; 
    height: 100%;
    width: 100%;
    word-wrap: break-word;
    overflow: scroll;
    scrollbar-width: thin; 
    scrollbar-color: #000000 #f5f5f5;
}

.history-move__log-content::-webkit-scrollbar {
    width: 10px;
}

.history-move__log-content::-webkit-scrollbar-track {
    background: #3d3d38;
}

.history-move__log-content::-webkit-scrollbar-thumb {
    background: #000000;
}

.history-move__log-content::-webkit-scrollbar-thumb:hover {
    background: #555;
}