* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    /* transform: translate(0%, 10%); */
}

.chessboard {
    display: grid;
    grid-template-columns: repeat(8, 68.5px);
    grid-template-rows: repeat(8, 72px);
}

.square {
    width: 68.5px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.squareWhite {
    background-color: #e8edf9;
}

.squareBlack {
    background-color: #b7c0d8;
}
.hightlightCurrentSquare {
    background-color: var(--hightlight-square);
}

.numWhite {
    color: #e8edf9;
    /* padding-top: 0px; */
    transform: translate(-280%, -120%);
}
*/ .numBlack {
    color: #b7c0d8;
    transform: translate(-280%, -120%);
}

.textWhite {
    color: #e8edf9;
    transform: translate(200%, 120%);
}

.textBlack {
    color: #b7c0d8;
    transform: translate(200%, 120%);
}
