body {
    display: flex;
    align-items: center;
    justify-content: center;
    /* transform: translate(0%, 10%); */
}

.chessBoard {
    display: grid;
    grid-template-columns: repeat(8, 72px);
    grid-template-rows: repeat(8, 72px);
}

.square {
    width: var(--width-square);
    height: var(--height-square);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.whiteSquare {
    background-color: #e8edf9;
}

.blackSquare {
    background-color: #b7c0d8;
}
.highlightSquare {
    background-color: var(--highlight-square);
}

.piece {
    padding: 8px;
    cursor: pointer;
    z-index: 2;
    user-select: none;
}

.whiteNumber {
    color: #e8edf9;
    transform: translate(-280%, -120%);
}
.blackNumber {
    color: #b7c0d8;
    transform: translate(-280%, -120%);
}

.whiteText {
    color: #e8edf9;
    transform: translate(200%, 120%);
}

.blackText {
    color: #b7c0d8;
    transform: translate(200%, 120%);
}
.point,
.bigPoint {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--width-square);
    height: var(--height-square);
    z-index: 1;
}
.bigPoint {
    z-index: 3;
    opacity: 0.5;
}

.point::before,
.bigPoint::before {
    margin: 0 auto;
    content: "";
    display: flex;
    border-radius: 50%;
    background-color: var(--primary);
}
.point::before {
    width: 32px;
    height: 32px;
}
.bigPoint::before {
    width: 54px;
    height: 54px;
}
