* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    /* transform: translate(0%, 10%); */
}

.chessBoard {
    display: grid;
    grid-template-columns: repeat(8, 68.5px);
    grid-template-rows: repeat(8, 72px);
}

.square {
    width: 68.5px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.whiteSquare {
    background-color: #e8edf9;
}

.blackSquare {
    background-color: #b7c0d8;
}
.highlightSquare {
    background-color: var(--highlight-square);
}

.piece{
    z-index: 2;
}

.whiteNumber {
    color: #e8edf9;
    transform: translate(-280%, -120%);
}
*/ .blackNumber {
    color: #b7c0d8;
    transform: translate(-280%, -120%);
}

.whiteText {
    color: #e8edf9;
    transform: translate(200%, 120%);
}

.blackText {
    color: #b7c0d8;
    transform: translate(200%, 120%);
}
.point {
    position: absolute;
    background-color: var(--primary);
    margin: 0 auto;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    z-index: 1;
}
.bigPoint{
    position: absolute;
    background-color: var(--primary);
    margin: 0 auto;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    z-index: 3;
    opacity: 0.4;
}
