@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
}
body {
  font-family: IBM Plex Sans;
}

:root {
  --primary: rgb(52, 69, 66);
  --primary-hover: #275049;
  --primary-active: #0b6758;
  --black: #000;
  --white: #fff;
  --text-color: #344542;
  --text-red: red;
  --teal: #009688;
}
.button-small {
  border-radius: 8px;
  padding: 12px;
  background-color: var(--primary);
  font-weight: 500;
  color: var(--white);
}

.button-small:hover {
  background-color: var(--primary-hover);
  color: black;
}
.button-small:active {
  background-color: var(--primary-active);
}
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.header {
  width: 100%;
  padding: 0 5%;
  box-shadow: 0 2px 5px 1px rgba(52, 69, 66, 0.1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  background-color: #fff;
}
.header__welcome {
  font-weight: 600;
  font-size: 20px;
}
.logo {
  justify-self: center;
  width: 150px;
  padding: 10px 0px;
}
.logout {
  border-radius: 8px;
  padding: 14px;
  background-color: var(--primary);
  font-weight: 500;
  color: var(--white);
}
.logout:hover {
  background-color: var(--primary-hover);
  color: red;
}
.logout:active {
  background-color: var(--primary-active);
}
.wrapper-content {
  display: flex;
  width: 90%;
  margin-top: 60px;
}
.content {
  width: 84%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 8%;
}
.content__title {
  color: var(--text-color);
}
.create-task {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.create-task__input, .invite-input {
  padding: 10px;
  outline: none;
  margin: 10px;
  width: 70%;
  border-radius: 5px;
  font-size: 16px;
}

.table-task {
  border-collapse: collapse;
  color: var(--primary-hover);
  width: 100%;
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
}
.table-task td,
th {
  border: 1px solid #9c9a9a;
  padding: 10px;
}
.table-task td:nth-child(1) {
  text-align: left;
  width: 40%;
}
.table-task td:nth-child(2) {
  text-align: center;
  width: 16%;
}
.table-task #input-edit-task {
  outline: none;
  border: none;
}
.done {
  font-weight: 600;
  color: var(--primary-active);
}
.in-progress {
  font-weight: 600;
  color: red;
}
.right-sidebar {
  width: 16%;
  padding: 0 10px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}
.sidebar__header {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.invite-member {
  margin: 8px 0;
  align-self: center;
  width: 100%;
}
.members {
  padding: 8px;
}
.member {
  padding: 8px;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.modal-invite {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 80px 0;
  display: none;
  justify-content: center;
}
.modal-invite-content {
  position: relative;
  margin: 0 10px;
  width: 500px;
}
.modal-invite__header {
  background-color: var(--teal);
  color: var(--white);
  padding: 20px;
  font-size: 16px;
  /* text-align: center; */
}
.modal-invite__footer {
  background-color: var(--teal);
  color: var(--white);
  padding: 12px;
  font-size: 16px;
  text-align: end;
}

.modal-invite__header h3 {
  color: var(--white);
}
.close-modal {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px;
}
.close-modal:hover{
  background-color: #9c9a9a;
}
.modal__main-content{
  padding: 20px 16px;
  font-size: 18px;
  background-color: #fff;
}
.message-error{
  color: red;
  font-size: 16px;
}

.cancel-invite{
  background-color: rgb(215, 76, 78);
}