body {
    display: flex;
    justify-content: center;
    align-items:center;
    margin:0px;
    padding:0px;
    height: 100vh;
    background-color: rgb(223, 223, 223);
  }
  .form-login {
    background-color: rgb(255, 255, 255);
    padding: 50px;
    margin: 50px;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
  }
  .header {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 10vh;
    text-shadow: 0 0 9px rgb(0, 162, 255);
    margin-bottom: 15px;;
  }
  .form-group {
    margin-bottom: 15px;
   
  }
  .label {
    display: block;
    margin-bottom: 5px;
  }
  .form-group {
    scroll-margin-bottom: 15px;
    display:flex;
    flex-direction: column;
  }
  .input-error {
    color: red;
    display:block;
    font-size: 10px;
    margin-top: 5px;
  }
  #button-register {
  background-color: rgb(99, 178, 248);
  font-size: 15px;
  border-radius: 5px;;
  }

  
  /* Thêm CSS cho checkbox Remember Me */
.remember-me-label {
  display: flex;
  flex-direction:row;
  font-size: 10px;
}